@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* make this button orange from bootstrap *@
            <a class="btn btn-warning" href="https://www.linkedin.com/in/kl%C4%81vs-kalni%C5%86%C5%A1-877633207/" role="button" aria-hidden="true">LinkedIn</a>
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
